/* nav bar gradiant*/
.color-nav {
background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

body{
    overflow: hidden;
}
/* register login forms */
.form-body  {
    display: flex;
    justify-content: space-between;
    
}
.form-container {
    flex: 1;
    max-width: 50vw;
    min-height: 500px;
    max-height: 500px;
    margin: 25px;
    display: flex;  
    flex-direction: column;  
    background-color: #0093E9;
    background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
    justify-content: space-evenly;
    justify-self: center;
    border-radius: 15px;
    padding: 50px
    
}

.form-header {
    color: white;
    margin-top: 10px;
    font-family: 'Bebas Neue';
}   

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
    flex: 1;
    font-family: 'Poppins';
    color: white;
}
/* droplet animation */
.drips-body {
    background-color: white;
    overflow: hidden;
    flex: 3;
    
  }
  
  .drips {
    position: relative;
      width: 20px;
      height: 20px;
    top: -30px;
    margin: 0 auto;
      background: #3498DB;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
    -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .drips:before {
    content: "";
    position: absolute;
    width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 30px solid #3498DB;
    top: -22px;
  }
  
  .wave {
    position: relative;
    opacity: 0;
    top: 0;
      width: 2px;
      height: 1px;
    border: #3498DB 7px solid;
      -moz-border-radius: 300px / 150px;
      -webkit-border-radius: 300px / 150px;
      border-radius: 300px / 150px;
    -moz-animation-name: ripple;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -moz-animation-delay: 5s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .wave:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -5px;
      width: 2px;
      height: 1px;
    border: #3498DB 5px solid;
      -moz-border-radius: 300px / 150px;
      -webkit-border-radius: 300px / 150px;
      border-radius: 300px / 150px;
    -moz-animation-name: ripple-2;
    -webkit-animation-name: ripple-2;
    animation-name: ripple-2;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  @keyframes ripple {
      from {
        opacity: 1;
      }
      to {
        width: 600px;
        height: 300px;
        border-width: 1px;
        top: -100px;
        opacity: 0;
      }
  }
  
  @keyframes ripple-2 {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    100% {
      width: 200px;
      height: 100px;
      border-width: 1px;
      top: 100px;
      left: 200px;
    }
  }
  
  @keyframes drip {
      to {
        top: 190px;
      }
  }



/* regiser/ login button */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-top: 10px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


/* Drops and drop info */
.drop-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 50vw;
    margin-left: 25vw;
}
.drop__header{
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.user-info{
    display: flex;
    margin-left: 5px ;
}
.user-info:hover{
    display: flex;
    margin-left: 5px ;
    opacity: .5;
    cursor: pointer;
}
.user-info__img{
    display: flex;
    margin-bottom: 5px;
    margin-right: 2px;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #888888;

}
.user-info__user-name{
    font-size: 10px;
    margin: .5vh;
}
.user-info__user-name:hover{
    opacity: .5;
    font-size: 10px;
    margin: .5vh;
    cursor: pointer;
}
.drop{
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 210, 210);
    min-width: 250px;
    max-width: 250px;
    min-height: 200px;
    max-height: 50vw;
    padding: 5px 0px;
    border: solid;
    border-color: rgb(191, 191, 191);
    border-width: .5px;
    box-shadow: 0px 0px 5px #888888;
    
}
.drop__img__container{
    width: auto;
    height:250px;
    width: 250px;

}
.drop__img {
    object-fit: fill;
    height: 100%;
    width: 100%;
}
.drop__description{
    border-top: solid;
    border-width: .3px;
    margin: 0px 5px 0px 5px;
   
    font-family: 'Poppins';
    font-size: x-small;
}
.material-icons-outlined{
    margin-right: 5px;
}
.material-icons-outlined:hover{
    opacity: .5;
    margin-right: 5px;
    cursor: pointer;
}



/*comment section*/
.comment-container{
    height: auto;
    width:  20vw;
    background-color: lightgray;    
}
.comment-label{
     padding: 10px;
}
.comment-input{
    margin: 10px;
}
.comment-list{
    list-style-type: none;
    color: black;
}

/* Create drop section */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-top: 10px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.inputfile + label:hover,
.inputfile + label:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.inputfile + label:hover {
  transform: translateY(-1px);
}

.button-5 + label:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}